<!-- Webpage detail.html -->


<div class="container-fluid">

    <center>
    	<!-- Button Return -->
        <button type="button" class="btn btn-default btn-lg" ng-click="list()">
            <i class="fa fa-list"></i>
            Retour à la liste
        </button>
    </center> 
      
    <h3> Détail du bloc </h3>

    <br>

    <!-- Boulder's name -->
    Nom : {{line.name}}
       
    <br>
        
    <!-- Boulder's sector -->
    Secteur : {{line.sector}}
     
    <br>

    <!-- Boulder's grade -->
    Cotation : {{line.grade}}
     
    <br>

    <!-- Boulder's beauty -->
    Note : {{line.rate}}
     
    <br>
        
    <!-- Boulder's description -->
    Description : {{line.description}}
        
    <br>
        
    <!-- Boulder's image -->
    Photo : {{line.image}}

    <br> <br>

    <center>
    
        <!-- Button Edit -->
        <button class="btn btn-default btn-lg" ng-click="edit(line.id)">
            <i class="fa fa-pencil"></i>
        </button>
        <!-- Button image -->
        <button class="btn btn-default btn-lg" ng-click="getPhoto()">
            <i class="fa fa-camera"></i>
        </button>
        <!-- Button Delete -->
        <button class="btn btn-danger btn-lg" ng-click="delete(line.id)">
            <i class="fa fa-trash-o"></i>
        </button>

        
        
        
        <img ng-src="{{line.image}}" width="200"> </img>
        
        
        
    </center>

</div>
