<!-- Webpage detail.html -->


<div class="container-fluid">

    
    <h3>
        <small> Edition de : </small>
        {{line.name}} {{line.grade}} {{line.accuracy}}
    </h3>

<center>
    
    <br>

    <h3> Localisation GPS :
    
    <button type="button" class="btn btn-default" ng-click="pingGps()">
        <i class="fa fa-refresh"></i> 
    </button>
    </h3>
    <div class="progress"  id="gpssection"> Recherche... </div>

    <br> <br> <br> <br>
        
    <button type="button" class="btn btn-success btn-lg" ng-click="updating()"> Sauvegarder
        <i class="fa fa-check"></i>
    </button>
    
    <button type="button" class="btn btn-default btn-lg" ng-click="discard()"> Annuler
        <i class="fa fa-times"></i>
    </button>
        
    <br> <br> <br> <br> <br> <br>

</center>
</div>
