<!-- Webpage home.html -->

<div class="row primarybar"> <!-- NAVBAR -->
    <a href="#/home" class="col-xs-3 action" class="here"> <i class="fa fa-home"></i> </a>
    <a href="#/server" class="col-xs-2 action" ng-click=""> <i class="fa fa-cloud"></i> </a>
    <a href="#/send" class="col-xs-2 action" ng-click=""> <i class="fa fa-send"></i> </a>
    <a href="" class="col-xs-2" ng-click="importData()"> <i class="fa fa-cloud-download"></i> </a>
    <a href="" class="col-xs-2" ng-click="exportData()"> <i class="fa fa-cloud-upload"></i> </a>

</div>

<div class="container-fluid">

<br> <br>

<div ng-bind="currentUser.username"> </div>

{{currentUser.username}} <br>
{{currentUser.email}} <br>
Inscrit le {{currentUser.createdAt}}
<br><br>

{{currentUser}}

<br> <br>

  <center> <button type="button" class="btn btn-default vibrant" ng-click="logOut()"> Log Out </button>
<br> <br>





</div>